In [17]:
import pymysql
import pandas as pd
import cx_Oracle as oracle

#mysql_conn = pymysql.connect(host='nbastats.chp0zhljxmaa.eu-west-1.rds.amazonaws.com', port=3306, user='tpauley', passwd='Rp44906255$1', db='nbastats')
#mysql_cur = conn.cursor()
#mysql_query = 'SELECT * FROM nbastats.FANDUEL_DAILY_RW limit 5'
#mysql_df = pd.read_sql_query(mysql_query, mysql_conn)
#print(mysql_df)
#mysql_cur.close()
#mysql_conn.close()


oracle_con = cx_Oracle.connect('tylerp/tp323ean@ukudbsh1/ukm25d')
oracle_query = "select * from PGAME_STAT_BASE where PLAYER_ID < 2000 and PLAYER_ID >1000"
oracle_df = pd.read_sql_query(oracle_query,oracle_con)
#print(oracle_df)
print (oracle_df.corr('pearson'))
oracle_con.close()

            PLAYER_ID    SEASON       MIN      HOME  LAST_GAME       DFS  \
PLAYER_ID    1.000000  0.000420 -0.008011  0.004413  -0.008033 -0.025611
SEASON       0.000420  1.000000 -0.059766  0.000952  -0.022035 -0.031502
MIN         -0.008011 -0.059766  1.000000  0.004157  -0.173742  0.817518
HOME         0.004413  0.000952  0.004157  1.000000  -0.041762 -0.012607
LAST_GAME   -0.008033 -0.022035 -0.173742 -0.041762   1.000000 -0.113050
DFS         -0.025611 -0.031502  0.817518 -0.012607  -0.113050  1.000000
GAME_PER    -0.001106 -0.001017  0.312972 -0.019688  -0.009072  0.609099
SEASON_PER  -0.009498  0.034871  0.443307  0.002777  -0.121676  0.541426
L5_PER       0.003816  0.000841  0.324206  0.003490  -0.095861  0.392278

            GAME_PER  SEASON_PER    L5_PER
PLAYER_ID  -0.001106   -0.009498  0.003816
SEASON     -0.001017    0.034871  0.000841
MIN         0.312972    0.443307  0.324206
HOME       -0.019688    0.002777  0.003490
LAST_GAME  -0.009072   -0.121676 -0.095861
DFS         0.609099    0.541426  0.392278
GAME_PER    1.000000    0.246024  0.186836
SEASON_PER  0.246024    1.000000  0.677297
L5_PER      0.186836    0.677297  1.000000